<div class="example-sidenav-content justify-content-center text-center">
<pdf-viewer #pdfComponent [src]="src"
              [render-text]="true"
              [original-size]="false"
              style="height: 100vh; width: 100vh; margin-left: 50% ; display: block;">
</pdf-viewer>
<!-- <input (change)="onFileSelected()" type="file" id="file"> -->
<!-- <form (ngSubmit)="onSubmit()">
    <input type="file" (change)="onFileChange($event)">
    <button type="submit">Submit</button>
</form>
</div> -->
